aiocfscrape==0.0.9
aiohttp==3.6.2
async-timeout==3.0.1
attrs==19.3.0
beautifulsoup4==4.8.1
bs4==0.0.1
chardet==3.0.4
idna==2.8
Js2Py==0.66
multidict==4.5.2
pyjsparser==2.7.1
PySimpleGUI==4.4.1
pytz==2019.3
six==1.12.0
soupsieve==1.9.4
tzlocal==2.0.0
yarl==1.3.0
